@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");

@font-face {
  font-family: "Hackathon";
  src: url("/public/font/HackbotFreeTrial.ttf") format("truetype"),
    url("/public/font/HackbotFreeTrial.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

.bg-Bars {
  /* background-color: black;
  background: url('./images/film.svg');
  background-size: cover; 
  background-position: center;  */
  position: relative;
}



@media (min-width: 1024px) {
  .bg-Bars::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background: url('./images/film.svg');
    background-size: cover; 
    background-position: center;
    z-index: 10;
  }
}

.bg-gradient {
  background: linear-gradient(88.16deg, #ff003d -32.4%, #0085ff 73.16%);
  opacity: 70%;
}

/* .hero_section-gradient {
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    rgba(255, 255, 255, 0.7)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
} */

.hero_section-gradient {
  background-image: linear-gradient(
    to bottom,
    #ffffff 0%, 
    #ffffff 80%,
    rgba(255, 255, 255, 0.9) 80%,
    rgba(255, 255, 255, 0.8) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.hero_section-footer_gradient {
  background: linear-gradient(192.16deg, #F1B35F 8.87%, #EE6429 231.43%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.bg-back-gradient {
  background: linear-gradient(to right, transparent, #0085ff);
}
.rounded-pipe {
  width: 229px; /* Adjust the width as needed */
  height: 5px; /* Adjust the height for a thicker or thinner appearance */
  background: linear-gradient(
    to bottom,
    rgba(0, 133, 255, 0.5),
    #0085ff,
    rgba(0, 133, 255, 0.5)
  );
  /* border-radius: 25px 25px 25px 25px; */
}

@keyframes slideRight {
  0% {
    left: -229px;
  }
  100% {
    left: 100%;
  }
}

.slide-gradient {
  animation: slideRight 10s linear infinite forwards;
}

.animation {
  position: absolute;
  width: 229px;
  height: 13px;
  left: 0;
  bottom: 0;
  animation: slideRight 10s linear infinite;
}

.animation_modal_1::before {
  content: "";
  position: absolute;
  width: 108px;
  height: 13px;
  left: 0;
  top: 35px;
  opacity: 70%;
  animation: slideRight 10s linear infinite;
  background: linear-gradient(88.16deg, #ff003d -32.4%, #0085ff 73.16%);
  z-index: 50;
}

.animation_modal_2::before {
  content: "";
  position: absolute;
  width: 308px;
  height: 13px;
  left: 0;
  top: 38px;
  opacity: 70%;
  animation: slideRight 10s linear infinite;
  background: linear-gradient(88.16deg, #ff003d -32.4%, #0085ff 73.16%);
  z-index: 50;
}

.fade-in-animation {
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hoveredSlide {
  max-width: 372px;
  transition: border-color 0.4s ease, box-shadow 0.4s ease, transform 0.4s ease;
}

.hoveredSlide:hover {
  max-width: 372px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  transform: scale(1.05);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes slideFadeInOut {
  0%{
    transform: translateX(-100%);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }  
  40% {
    transform: translateX(57vw);
    opacity: 1;
  }
  60% {
    transform: translateX(57vw);
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  99% {
    transform: translateX(100vw);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.animation2 {
  animation: slideFadeInOut 10s linear infinite;
}


@keyframes slideFadeInOut3 {
  0%{
    transform: translateX(-100px);
    opacity: 0;
  }
  29% {
    opacity: 1;
  }
  40%{
    transform: translateX(36vw);
    opacity: 1;
  }
  50%{
    transform: translateX(36vw);
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  99% {
    transform: translateX(100vw);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.animation3 {
  transform: translateX(-100%);
  animation: slideFadeInOut3 10s linear infinite;
  animation-delay: 5000ms;
}

.animate-bottom-to-top {
  animation: slide-up 8s ease forwards;
  opacity: 0;
  transform: translateY(100%);
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.nav-border{
  border-bottom:1px solid rgb(250, 250, 250, 0.3);
}

.box-shadow-glow {box-shadow: '0 0 100px #ffffff'}

.letter-spacing {
  letter-spacing: 1.2em; /* Or 19.2px if the parent font-size is 16px */
}

.spacing {
  margin-right: 1.2em; /* Or 1.2em */
}
